<%- include('partials/header') %>

    <!--Home Page-->
    <div class="navbar">
        <nav>
            <label class="logo"><a href="./">deCrypt</a></label>
            <!--alternate logo-->
            <ul>
                <li><a href="./register"><button class="createAcc" type="submit">Create Account</button></a></li>
                <li><a href="./login"><button class="login" type="submit">Login</button></a></li>
            </ul>
        </nav>
    </div>
    <div class="intro-home">
        <p class="home-title">Lorem ipsum dolor sit amet</p>
        <p class="sub-text">Integer malesuada nunc <br>vel risus commodo. <br> Fermentum posuere urna <br>nec tincidunt.
        </p>
    </div>
    <div class="image-home">
        <img class="home-img" src="/images/homeimage.png" alt="hero-carousel">
    </div>
    <%- include('partials/footer') %>
