<!-- User lands on this page after signing in or registering -->

<%- include('partials/header') %>

  <div class="track-heading">
    <h1>Hey <%=Name.username%> view your favourite cryptos here</h1>
  </div>

  <div class="track-whole-section">
    <div class="searchAndList">
      <div class="wrap">
        <div class="search">
          <div class="search-bar">
          <input type="text" id="myInput" class="searchTerm" onkeyup="searching()"
            placeholder="Search and add your favourite coins..">
          </div>
          <button type="submit" class="addButton">+</button>
        </div>
      </div>

      <ul id="cryptocoins-list">
        <li><a href="#">Bitcoin</a></li>
        <li><a href="#">Ethereum</a></li>
        <li><a href="#">Cardano</a></li>
        <li><a href="#">Tether</a></li>
        <li><a href="#">BinanceCoin</a></li>
        <li><a href="#">Dogecoin</a></li>
        <li><a href="#">XRP</a></li>
        <li><a href="#">Polygon</a></li>
        <li><a href="#">Polkadot</a></li>
        <li><a href="#">Litecoin</a></li>
        <li><a href="#">Bitcoin Cash</a></li>
        <li><a href="#">Chainlink</a></li>
      </ul>
    </div>
  </div>

  <div class="track_main">
    <p>Content after search bar</p>
    <h1>BTC</h1>
    <p>
      <%=Price%>
    </p>
  </div>





  <%- include('partials/footer') %>
