<!-- User lands on this page after signing in or registering -->

<%- include('partials/header') %>
  <div class="navbar">
    <nav>
      <label class="logo"><a href="./">deCrypt</a></label>
      <!--alternate logo-->
      <ul>
        <li><a href="./login"><button class="login" type="submit">Logout</button></a></li>
      </ul>
      <!-- downloaded gif not working -->
      <!-- <li><img src="/public/images/user-icon.gif" alt="user-icon" class="user-icon"></li> -->
      <a href=""><img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-5--v2.png" alt="user-icon"
          class="user-icon"></a>
    </nav>
  </div>
  <div class="track-heading">
    <h1>Hey <%=TrackUserName%> view your favourite cryptos here</h1>
  </div>
  <div class="search">
    <input class="searchTerm" type="text" list="datalist" placeholder="Search and add your favourite coins.."
      onkeyup="ac(this.value)">
    <option value="Bitcoin"></option>
    <datalist id="datalist">
      <option value="Ethereum"></option>
      <option value="Cardano"></option>
      <option value="Tether"></option>
      <option value="Binancecoin"></option>
      <option value="Dogecoin"></option>
      <option value="XRP"></option>
      <option value="Polygon"></option>
      <option value="Polkadot"></option>
      <option value="Litecoin"></option>
      <option value="Bitcoin Cash"></option>
      <option value="Chainlink"></option>
    </datalist>
    <button type="submit" class="addButton">+</button>
  </div>
  <div class="track_main">
    <p>Content after search bar</p>
    <h1>BTC</h1>
    <p>
      <%=Price%>
    </p>
  </div>


  <%- include('partials/footer') %>
