<!-- User lands on this page after signing in or registering -->

<%- include('partials/header') %>

    <h1>This is the tracking page where the user tracks all their fav crypto</h1>

    <%- include('partials/footer') %>
