<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock ticker</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="navbar">
        <nav>
          <label class="logo"><a href="#">deCrypt</a></label>
          <ul>
            <li><a href="./logout"><button class="login" type="submit">Logout</button></a></li>
          </ul>
        </nav>
      </div>
      <img id="coin-img" src="../images/bitcoin.gif"/>
    <h1 id="stock-price">---</h1>
    <script src="../../scripts/Bitcoin.js"></script>

</body>

</html>
